@use '../utils/theme';
@use '../utils/mixins';
@use '../utils/animations';

/* ----- BODY ----- */

body {
  font-family: theme.$font-sans-serif;
  color: theme.$black-typo;
  font-weight: 100;
  text-transform: uppercase;
}
.main-container {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  max-height: 520px;
  margin-block-start: 200px;
  margin-inline: auto;
  margin: 100px auto;
  background-color: theme.$white-main;
  border: solid 20px theme.$brown-border;
}

.container-player,
.container-commands,
.container-player__current-score-block {
  @include mixins.flexCenter;
  flex-direction: column;
}
.container-player {
  flex-grow: 4;
  &__player {
    @include mixins.flexCenter;
    span {
      visibility: hidden;
      color: theme.$red;
      font-size: 40px;
      margin-inline-start: 6px;
    }
  }
  &--activ {
    background-color: theme.$fond-joueur-actif;
    color: theme.$black-typo;
    & span {
      visibility: visible;
    }
  }
  &__current-score-block {
    font-weight: 300;
    min-inline-size: 100px;
    min-block-size: 70px;
    background: theme.$red;
    &--text {
      font-size: 14px;
      margin-block-end: 4px;
    }
    &--score {
      font-size: 22px;
      color: theme.$white-main;
    }
    &--rotate {
      animation: rollScore;
      animation-duration: .2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  &__h1 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    margin-inline-start: 30px;
    color: theme.$grey-typo;

    &--activ {
      color: theme.$black-typo;
    }
  }
  &__score {
    font-size: 70px;
    color: theme.$red;
    margin-block: 8px 90px;
  }
}
.container-commands {
  justify-content: start;
  font-size: 22px;
  z-index: 2;
  position: relative;
  flex-grow: 2;
  block-size: auto;
  overflow: hidden;
  &__new-game {
    margin-block-start: 30px;
    margin-block-end: 120px;
    cursor: crosshair;
  }
  &__dice {
    margin-block-end: 80px;
    &--rotate {
      animation: rollDice;
      animation-duration: .5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  &__roll-dice {
    margin-block-end: 20px;
    cursor: pointer;
  }
  &__hold {
    margin-block-end: 80px;
    cursor: grab;
  }
  &__pictoflex {
    display: flex;
  }
  & img {
    margin-inline-end: 6px;
  }
}
/* pour finir la couleur de fond de la section commande */
.container-conmmand__fond {
  top: 0;
  left: -50%;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: theme.$fond-joueur-actif;
  z-index: -1;
  &--activ {
    @extend .container-conmmand__fond;
    left: 50%;
  }
}
