@use '../utils'
  
body
  background-color: utils.$white-main

.main-container
  display: flex
  justify-content: space-between
  inline-size: 1000px
  block-size: 700px
  margin-block-start: 200px
  margin-inline: auto
  background-color: utils.$white-main
  border: solid 20px utils.$backgroundcolor


.container-player__1
  background-color: utils.$fond-joueur-actif

.container-player
  inline-size: 70%

.container-commands
  z-index: 2
  position: relative
  inline-size: 200px
  block-size: 100%
  overflow: hidden
  &__pictoflex
    display: flex

.container-conmmand__fond
  top: 0
  left: -50%
  position: absolute
  inline-size: 100%
  block-size: 100%
  background-color: utils.$fond-joueur-actif
  z-index: -1

.container-player,
.container-commands,
.container-player__current-score-block
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
