@media (max-width: 650px) {
  .main-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.container-player {
  justify-content: space-between;
    inline-size: 100%;
    border: 1px solid silver;
  }
  .container-conmmand__fond, .container-conmmand__fond--activ {
    display: none;
  }
  .container-commands__new-game {
    margin-block: 15px;
  }
  .container-commands {
    flex-grow: 1;
    justify-content: space-around;
    overflow: visible;
    font-size: 32px;
  }
  .container-commands__roll-dice {
    margin-block: 15px;
  }
  .container-commands__dice {
    margin-block: 20px;
  }
  .container-player__score {
    margin-block: 0;
  }
  .container-commands__hold {
    margin-block-end: 15px;
  }
}

@media (max-width: 400px) {
  body {
    font-weight: 400;
  }
  .main-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 0;
    height: 100vh;
    margin: 0 auto;
    }
    .container-player {
      inline-size: 100%;
      border: 1px solid silver;
    }
    .container-conmmand__fond, .container-conmmand__fond--activ {
      display: none;
    }
    .container-commands__new-game {
      margin-block: 5px;
    }
    .container-commands {
      overflow: visible;
    }
    .container-commands__roll-dice {
      margin-block: 10px;
    }
    .container-commands__dice {
      margin-block: 5px;
    }
    .container-player__score {
      margin-block: 5px;
      font-size: 50px;
    }
    .container-commands__hold {
      margin-block-end: 5px;
    }
    .container-player__h1 {
      font-weight: 400;
      font-size: 35px;
    }
    p {
      font-size: 0.7em;
    }
    .container-player__current-score-block {
      min-block-size: 40px;
    }
    .container-player__current-score-block--text {
      font-size: 12px;
      margin-block-end: 0;
    }
    #dice img {
      width: 70px;
    }

}