html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-size: inherit;
}

/* ----- ANIMATIONS ----- */
@keyframes rollDice {
  0%, 100% {
    transform: rotate(180deg);
  }
  80% {
    transform-origin: center;
    transform: translateX(-20px) translateY(-20px);
  }
  60% {
    transform-origin: center;
    transform: translateX(20px) translateY(20px);
  }
  50% {
    transform: rotate(180deg);
  }
  35% {
    transform-origin: center;
    transform: translateX(-10px) translateY(-20px);
  }
  20% {
    transform-origin: center;
    transform: translateX(10px) translateY(20px);
  }
}
@keyframes rollScore {
  0%, 100% {
    transform: rotate(2deg);
  }
  80% {
    transform-origin: center;
    transform: translateX(-2px) translateY(-2px);
  }
  60% {
    transform-origin: center;
    transform: translateX(2px) translateY(2px);
  }
  50% {
    transform: rotate(-2deg);
  }
  35% {
    transform-origin: center;
    transform: translateX(-2px) translateY(-2px);
  }
  20% {
    transform-origin: center;
    transform: translateX(2px) translateY(2px);
  }
}
/* ----- BODY ----- */
body {
  font-family: "Lato", sans-serif;
  color: #505050;
  font-weight: 100;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  justify-content: space-between;
  max-inline-size: 850px;
  max-block-size: 520px;
  margin-block-start: 200px;
  margin-inline: auto;
  margin: 200px auto;
  background-color: #fff;
  border: solid 20px #b29878;
}

.container-player,
.container-commands,
.container-player__current-score-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-player {
  inline-size: 70%;
}
.container-player__player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-player__player span {
  visibility: hidden;
  color: #fe3b45;
  font-size: 40px;
  margin-inline-start: 6px;
}
.container-player--activ {
  background-color: #ececec;
  color: #505050;
}
.container-player--activ span {
  visibility: visible;
}
.container-player__current-score-block {
  font-weight: 300;
  min-inline-size: 100px;
  min-block-size: 70px;
  background: #fe3b45;
}
.container-player__current-score-block--text {
  font-size: 14px;
  margin-block-end: 4px;
}
.container-player__current-score-block--score {
  font-size: 22px;
  color: #fff;
}
.container-player__current-score-block--rotate {
  animation: rollScore;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container-player__h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-inline-start: 30px;
  color: #bebebe;
}
.container-player__h1--activ {
  color: #505050;
}
.container-player__score {
  font-size: 70px;
  color: #fe3b45;
  margin-block: 8px 90px;
}

.container-commands {
  justify-content: start;
  font-size: 22px;
  z-index: 2;
  position: relative;
  inline-size: 280px;
  block-size: auto;
  overflow: hidden;
}
.container-commands__new-game {
  margin-block-start: 30px;
  margin-block-end: 120px;
  cursor: crosshair;
}
.container-commands__dice {
  margin-block-end: 80px;
}
.container-commands__dice--rotate {
  animation: rollDice;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container-commands__roll-dice {
  margin-block-end: 20px;
  cursor: pointer;
}
.container-commands__hold {
  margin-block-end: 80px;
  cursor: grab;
}
.container-commands__pictoflex {
  display: flex;
}
.container-commands img {
  margin-inline-end: 6px;
}

/* pour finir la couleur de fond au milieu */
.container-conmmand__fond, .container-conmmand__fond--activ {
  top: 0;
  left: -50%;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: #ececec;
  z-index: -1;
}
.container-conmmand__fond--activ {
  left: 50%;
}

button {
  border: 0;
}

@media (max-width: 650px) {
  .main-container {
    flex-direction: column;
    justify-content: space-between;
    max-inline-size: 400px;
    max-block-size: 800px;
    margin: 50px auto;
  }
}

/*# sourceMappingURL=style.css.map */
