$font-sans-serif: 'Lato', sans-serif;

$test: rgba(236, 255, 239, 0.621);
$brown-border: #b29878;

$white-main: #fff;
$fond-joueur-actif: #ececec;
$red: #fe3b45;
$grey-typo: #bebebe;
$black-typo: #505050;